body {
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-image: url(../images/medBanner.jpg);
    background-repeat: no-repeat;
    text-align: center;
    max-width: 1670px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#content-section {
    background-color: white;
    min-width: auto;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#content {
    background-color: White;
    color: darkslategray;
    min-width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 60%;
    height: auto;
    font-size: 20px;
}

h1 {
    font-family: georgia, "Times New Roman", serif;
    color: darkslategray;
    height: 100px;
    font-size: 42px;
}

h2 {
    font-size: 32px;
    text-align: center;
}

h3 {
    font-size: 24px;
}

nav {
    float: none;
    min-width: auto;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 0;
}

    nav ul {
        text-align: center;
    }

        nav ul li {
            display: inline-block;
            background-color: #6bd1e2;
            text-align: center;
            padding-top: .1em;
            padding-bottom: .1em;
            padding-left: 1em;
            padding-right: 1em;
            font-size: 20px;
        }

    nav a {
        display: block;
    }

    nav a {
        text-decoration: none;
    }

        nav a:link {
            color: darkslategray;
        }

        nav a:visited {
            color: darkslategray;
        }

        nav a:hover, nav a:focus {
            color: white;
        }

footer {
    text-align: center;
    color: darkslategray;
    background-color: #6bd1e2;
    min-width: auto;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 0;
}

#medTemplate {
    display: none;
}

.labelWidth {
    width: auto;
}

.inline {
    display: inline-block;
}

.tabBlock {
    margin-left: 1em;
    margin-top: 1em;
}

.labelBlock {
    display: inline-block;
    text-align: left;
    width: 60px;
}

body a:link {
    color: darkslategray;
}

body a:visited {
    color: darkslategray;
}

body a:hover, nav a:focus {
    color: #F5F5DC;
}


.classes {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.splash {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.aboutsplash {
    opacity: .5;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.icon {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

table {
    margin: auto;
    width: 80%;
    color: #000000;
}

td {
    padding: 20px;
    background-color: #9E7A3D;
}

th {
    padding: 20px;
    background-color: #000000;
}

table a:link {
    color: #9E7A3D;
}

table a:visited {
    color: #A58366;
}

table a:hover, nav a:focus {
    color: #F5F5DC;
}

input[type=button] {
    width: auto;
    background-color: #6bd1e2;
    border: 3px solid #555;
    color: #000000;
}

input[type=text], [type=date], [type=email], [type=password], [type=submit], [type=datetime-local] {
    width: auto;
    background-color: #6bd1e2;
    border: 3px solid #555;
    color: #000000;
}

button {
    width: auto;
    background-color: #6bd1e2;
    border: 3px solid #555;
    color: #000000;
}

textarea {
    background-color: #6bd1e2;
    border: 3px solid #555;
    color: #000000;
}

select {
    background-color: #6bd1e2;
    border: 3px solid #555;
    color: #000000;
}

label {
    float: left;
    text-align: left;
    width: 150px;
    padding-right: 10px;
}

input,
textarea {
    display: block;
    margin-bottom: 20px;
}

submit {
    margin-left: 130px;
}

@media (max-width: 480px) {
    body {
        background-image: url(../images/pilltakerbg.jpg);
    }
}

@media (max-width: 650px) {
    .classes {
        display: none;
    }

    .confused {
        display: none;
    }

    .aboutsplash {
        width: 80%;
    }

    nav ul li {
        font-size: 20px;
    }
}

@media (max-width: 1670px) {
    nav ul li {
        margin-top: 20px;
        font-size: 22px;
    }

    .splash {
        width: 90%;
    }
}

@media (min-width: 481px) {
    body {
        background-image: url(../images/pilltakerbg.jpg);
    }
}

@media (min-width: 1025px) {
    body {
        background-image: url(../images/pilltakerbg.jpg);
    }
}
